{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block body_class %}projects-page{% endblock %}


{% block content %}
  
  
  
 
   <form method="post" action="/add_project">
   <div class="form-group">
    <label for="project-add">Project name:</label>
    <input type="text" id="project-add" name="project-add" placeholder="John Snow" required>
    <label for="project-category">Category:</label>
    <select id="project-category" name="project-category">
      <option value="Web">Web</option>
      <option value="Python">Python</option>
      <option value="Learning">Learning</option>
    </select>
   </div>
   
   <div class="description-group">
    <label for = "project-description">Add a description:</label>
    <textarea id="project-description" name="project-description" placeholder="Description of the project" required></textarea>
    
   </div>
   <button type="submit" class="button">Add Project</button>
 </form> 
 
 <hr>

 <h1>My Projects</h1>
  <p>Here are some of the projects I've worked on:</p>
  
 <div class="project-grid">
  
   {% if projects_list|length > 0 %}
     <p>Here are your projects:</p>
   {% else %}
     <p>No projects to display.</p>
   {% endif %}
   
  
   
   
   
    {% for project in projects_list %}
      <div class="project-card">
        <h3>{{ project[1] }}</h3>
        <p>{{ project[2] }}</p>

        <a class="edit-button" href="{{ url_for('edit_project', project_id=project[0]) }}">Edit project</a>

        <form method="post" action="{{ url_for('delete_project', project_id=project[0]) }}">
        <button type="submit" class="delete-button">Delete project</button>
        </form>

      </div>
    {% endfor %}
 </div>

{% endblock %}
